.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right:auto;
  
    margin-top:  93px;
    margin-bottom: 93px;
    
 }
 .container-wrapper{
  margin-left: 300px;
  margin-right: 300px;
 }
 
 .h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
 }
 .header{
   background-color: azure;
 }
 .p1{
   text-align: center;
   font-family: 'Poppins', sans-serif;
 }

 input {
   width: 100%;
   font-family: 'Poppins', sans-serif;
 }
 .input-text-1{
   margin-top: 50px;
   margin-bottom: 50px;

 }

 .password{
   font-family: 'Poppins', sans-serif;
   color: grey;
 }
 .p-label{
   font-family: 'Poppins', sans-serif;
   color: grey;
 }


 .prof-name{
   font-family: 'Poppins', sans-serif;
   color: grey;
 }
.email{
   font-family: 'Inter', sans-serif;
   color: grey;
}
 .input-text-3{
   margin-top: 50px;
   margin-bottom: 50px;

 }
 .a-text{
   font-family: 'Poppins', sans-serif;
   color: black;
 }
 .a-p-text{
   font-family: 'Poppins', sans-serif;
 }
 input[type=password] {
  width: 100%;
  padding: 15px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 10px;
}
 input[type=text] {
   width: 100%;
   padding: 15px 30px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid #E5E5E5;
   border-radius: 10px;
 }
 .button-1{
   border-radius: 50px;
   width:750px;
   height:50px;
   background-color: white;
   color: white;
   border: none;
   font-family: 'Poppins', sans-serif;
   font-size: 24px;
   
 }
.button-2{
 border-radius: 50px;
 border: 1px solid grey;
 background-color: white;
 height: 45px;
 width: 160px;
}


 .p-facebook{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-top: -10px;
 }
 .facebook{
   width: 20px;
   margin-top: 10px;
   margin-right: 10px;
 }
 .end{
   margin-top: 70px;
   font-family: 'Poppins', sans-serif;
   color: grey;
 }
 .button-3{
  border-radius: 50px;
 border: 1px solid grey;
 background-color: white;
 height: 45px;
 width: 160px;
 }
 .google{
  width: 20px;
   margin-top: 10px;
   margin-right: 10px;
 }
 .p-google{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-top: -10px;
 }
 .button-4{
  border-radius: 50px;
  border: 1px solid grey;
  background-color: white;
  height: 45px;
  width: 160px;
 }
 .p-apple{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  
 
 }
